<ngx-charts-pie-chart *ngIf="pieData$ | async as data"
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    (select)="onSelect($event)"
  >
  <ng-template #tooltipTemplate let-model="model">
    <div class="tooltip">
      <div class="tooltip-box">{{ model.name }}</div>
      <br/>
      <div class="tooltip-box">
        <div class="tooltip-container">
          <img src="../assets/img/medal-solid.svg">
        </div>
        <div class="tooltip-container">
          {{ model.value }}
        </div>
      </div>
    </div>
  </ng-template>
</ngx-charts-pie-chart>